<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <form action="/auth/api/login" method="post">
    <!-- <form id="loginForm"> -->
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Please type your email">
        <label for="password">Password</label>
        <input type="text" id="password" name="password" placeholder="Please type the password">
        <input type="submit" value="Submit">
    </form>    
</body>
</html>

