<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Gateway</title>
</head>
<body>
    <h2>Enter creadit card information</h2>
    <form action="/auth/api/login" method="POST">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" placeholder="Enter Email" required>


        <label for="password">Card Holder's Name</label>
        <input type="text" name="password" id="password" placeholder="Enter Password">

        <input type="submit" value="SUBMIT">
    </form>

</body>
</html>